<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moduł główny</title>
    <script>

        if (document.cookie === undefined || document.cookie === '') {
            window.open('/login', '_self');
        }

        function logout() {
            console.log("logout");
            document.cookie ==="";
            window.open('/login', '_self');
        }
    </script>
</head>
<body>
    <h1>jesteś zarejestrowany</h1>
    <h2>i .... zalogowany w systemie eFaktura</h2>
    <button onclick="logout()">wyloguj</button>
</body>
</html>