<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eFaktura</title>
</head>

<body>
    <h1>Witaj w serwisie eFaktura </h1>
    <ul>
        <li>
            <a href="http://localhost:3000/login">Logowanie</a>
        </li>
        <li>
            <a href="http://localhost:3000/registration">Rejestracja</a>
        </li>
        <li>
            <a href=" http://">Reset hasła</a> </li>
    </ul>
</body>

</html>