<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zmień hasło</title>
  </head>

  <body>
    <h1>Zmiana Hasła</h1>
    <h4 style="color: blue;" id="msg"></h4>
    <form id="FormSub">
      <label for="email">Email : </label>
      <input
        type="text"
        placeholder="Email"
        id="email"
        name="email"
        readonly
      /><br /><br />
      <label for="password">Password : </label>
      <input
        type="text"
        placeholder="Password"
        id="password"
        name="password"
      /><br /><br />
      <label for="password">Retype Password : </label>
      <input
        type="text"
        placeholder="Retype Password"
        id="password2"
        name="password2"
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <br />
    <a href="http://localhost:3000/">powrót do strony głównej</a>
    <script>
          document.getElementById('FormSub').addEventListener('submit', Send);
          let url = new URL(window.location)
          let params = new URLSearchParams(url.search);
          let email = params.get('email'); 
          let code = params.get('code'); 
          document.querySelector('#email').value = email;

          function Send(e) {
            e.preventDefault();
            var email = document.querySelector('#email').value;
            var pass = document.querySelector('#password').value;
            var pass2 = document.querySelector('#password2').value;
            if (pass === pass2) {
              fetch('/newpassword', {
                  method: 'post',
                  headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                  },
                  body: JSON.stringify({
                    Email: email,
                    Password: pass,
                    Password2: pass2,
                    code:code
                  })
                })
                .then((res) => res.json())
                .then(data => {
                  console.log(data)
                  document.getElementById('msg').innerHTML = data;
                  document.querySelector('#email').value = "";
                  document.querySelector('#password').value = "";
                  document.querySelector('#password2').value = "";
                })
            } else {
              document.getElementById('msg').innerHTML = "Błędne hasło: Hasła powinny być identyczne!";
            }
          }
    </script>
  </body>
</html>
